<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.my.first.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <!--  allow receiving/searching sms -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>"
    <uses-permission android:name="android.permission.READ_SMS"/>"
    <uses-permission android:name="android.permission.WRITE_SMS"/>"
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    
    
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />


        
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
    <service android:enabled="true" android:name=".DataService" />
   
     
        <activity
            android:name=".ChoosePlatActivity"
            android:label="@string/title_activity_chooseplat" >
            <intent-filter>
                <action android:name="com.example.my.first.app.SELECT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.my.first.app.MainActivity" />
        </activity>
        
        <activity
            android:name=".ChooseTimeActivity"
            android:label="@string/title_activity_choosetime" >
            <intent-filter>
                <action android:name="com.example.my.first.app.SELECT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter><meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.my.first.app.MainActivity" />
        </activity>
        
        <activity
            android:name=".ChangePlatActivity"
            android:label="@string/title_activity_changeplat" >
            <intent-filter>
                <action android:name="com.example.my.first.app.SELECT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.my.first.app.ChoosePlotActivity" />
        </activity>
        
        <activity
            android:name=".SelectActivity"
            android:label="@string/title_activity_select" >
            <intent-filter>
                <action android:name="com.example.my.first.app.SELECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.my.first.app.MainActivity" />

        	</activity>
        	
           <activity          
           	 android:name=".MenuActivity"
           	 android:label="@string/title_activity_menu" >
           	 <intent-filter>
            	    <action android:name="com.example.my.first.app.MENU" />
                	<category android:name="android.intent.category.DEFAULT" />
            	</intent-filter>
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.my.first.app.MainActivity" />
        	</activity>
        	
   			<activity          
           	 android:name=".PlotActivity"
           	 android:label="@string/title_activity_plot"
           	 android:hardwareAccelerated="false"    >
           	<!-- turn hardwareAcceleration of for compatibility reasons with And4.0 -->
           	 <intent-filter>
           	     <action android:name="com.example.my.first.app.PLOT" />
           	     <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
   		<activity          
           	 android:name=".MainActivity"
           	 android:label="@string/title_activity_main" >
           	 <intent-filter>
           	     <action android:name="android.intent.action.MAIN" />
           	     <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>